body {
	background-color: #232323;
	color: #e8eaed;
	width: 200px;
	border: 3px solid #37383a;
	margin: 0px;
}

div {
	margin: 5px;
}

.main-container {
	padding: 5px 5px 5px 10px;
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: #7b83eb;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.section {
	border-bottom: 1px solid rgb(88, 88, 88);
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.reset-count {
	background-color: #7b83eb;
	border: none;
	color: black;
	padding: 7px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin: 4px 0px 4px 4px;
	cursor: pointer;
	border-radius: 4px;
	color: #fff;
}
